{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src/",
        "rootPathPrefix": "~"
      }
    ]
  ]
}
