.card-style {
  background-image: url('/img/cv1.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.button-style {
  color: #00838f;
  text-decoration: underline;
  cursor: pointer;
}

.label {
  background-color: #00838f;
  font-size: 25px;
  color: white;
  padding: 9px 14px;  
}
